<a href="https://colab.research.google.com/github/TokyoYoshida/GoogleColab/blob/master/%E3%83%87%E3%82%A3%E3%83%BC%E3%83%97%E3%83%A9%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0%E7%94%A8%E7%AB%B6%E9%A6%AC%E3%83%87%E3%83%BC%E3%82%BF%E4%BD%9C%E6%88%90_and_%E3%83%A9%E3%83%B3%E3%82%BF%E3%82%99%E3%83%A0%E3%83%95%E3%82%A9%E3%83%AC%E3%82%B9%E3%83%88_%E7%AB%B6%E9%A6%AC%E4%BA%88%E6%83%B3_random_forest_keiba20200528.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from google.colab import drive
drive.mount('/content/drive')
# 必要ならば以下のようにディレクトリ移動する

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [17]:
%cd /content/drive/'My Drive'/'★個人専用ファイル'/'開発用・個人サービス開発'/'GoogleColab'/

/content/drive/My Drive/★個人専用ファイル/開発用・個人サービス開発/GoogleColab

In [18]:
%ls ./data/keiba/

backup20200615_keiba_horse_ratings_dictionary_20200614.pkl
darby.csv
keiba_dat_res_20200528_2355.pkl
keiba_dat_res_20200528.pkl
keiba_dat_res_20200529_2306_20200531backup.pkl
keiba_dat_res_20200529_2306.pkl
keiba_dat_res_20200531_1207.pkl
keiba_dat_res_20200531_1707.pkl
keiba_horse_ratings_dictionary_20200614.pkl
keiba_predict_20200604_1617.pkl
result_20200528_2020年時点最新競馬データ.csv
調教師一覧.csv
調教師一覧.gsheet
馬一覧.csv
馬一覧.gsheet
騎手一覧.csv
騎手一覧.gsheet

In [0]:
from sklearn import preprocessing
from sklearn import ensemble
import pandas as pd
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn.ensemble import RandomForestRegressor # ランダムフォレスト回帰用

In [0]:
from matplotlib import pyplot as plt

In [0]:
%matplotlib inline

In [0]:
# タイム値を秒数(float)に変換する。小数以下１桁まであり
def date_like_value_to_timestamp(df,col_name):
    tmp = df[col_name].str.extract('(.+):(.+)\.(.+)', expand=True)
    tmp.columns=["m","s","dec"]
    return tmp["m"].astype("float")*60+tmp["s"].astype("float")+tmp["dec"].astype("float")*0.1

In [0]:
# 行も列もなるべく省略しない
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 100)

In [0]:
x = [[1],[1],[2],[2],[3]]
y = [[100,200],[100,200],[200,300],[200,300],[300,400]]

In [0]:
rf = ensemble.RandomForestClassifier()

In [26]:

rf.fit(x, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
t = [[2]]

In [0]:
py = rf.predict(t)

In [29]:
py

array([[200, 300]])

In [0]:
# dat = pd.read_csv("/Users/tokyoyoshida/Documents/private/keiba/keiba_data_2017/result.csv",names=["rank","frame_num","horse_num","name","sex","age","amount","jockey","time","diff_arrival","odds","popularity","weight","diff_weight","trainer","race_num","grade","ground","direction","unknown","distance","weather","condition","start_time","year","month","day"],

In [0]:
odat = pd.read_csv("./data/keiba/result_20200528_2020年時点最新競馬データ.csv",names=["rank","frame_num","horse_num","name","sex","age","amount","jockey","time","diff_arrival","odds","popularity","weight","diff_weight","trainer","full_path","race_num","grade","ground","direction","unknown","distance","weather","condition","start_time","year","month","day"],
                )

In [0]:
odarby = pd.read_csv("./data/keiba/darby.csv",names=["rank","frame_num","horse_num","name","sex","age","amount","jockey","time","diff_arrival","odds","popularity","weight","diff_weight","trainer","full_path","race_num","grade","ground","direction","unknown","distance","weather","condition","start_time","year","month","day"],
                )
darby = odarby.fillna(0)

In [0]:
# 過去データとダービーデータを統合
dat = pd.concat([odat,darby])

In [0]:
# 一覧の出力
pd.DataFrame(dat["jockey"].unique()).to_csv("./data/keiba/騎手一覧.csv")
pd.DataFrame(dat["trainer"].unique()).to_csv("./data/keiba/調教師一覧.csv")

In [0]:
dat["rank"] = pd.to_numeric(dat["rank"],errors='coerce')
dat["frame_num"] = pd.to_numeric(dat["frame_num"],errors='coerce')
dat["horse_num"] = pd.to_numeric(dat["horse_num"],errors='coerce')
dat["age"] = pd.to_numeric(dat["age"],errors='coerce')
dat["odds"] = pd.to_numeric(dat["odds"],errors='coerce')
dat["popularity"] = pd.to_numeric(dat["popularity"],errors='coerce')
dat["weight"] = pd.to_numeric(dat["weight"],errors='coerce')
dat["diff_weight"] = pd.to_numeric(dat["diff_weight"],errors='coerce')
dat["race_num"] = pd.to_numeric(dat["race_num"],errors='coerce')
dat["grade"] = pd.to_numeric(dat["grade"],errors='coerce')
dat["distance"] = pd.to_numeric(dat["distance"],errors='coerce')
dat["year"] = pd.to_numeric(dat["year"],errors='coerce')
dat["month"] = pd.to_numeric(dat["month"],errors='coerce')
dat["day"] = pd.to_numeric(dat["day"],errors='coerce')

In [0]:
dat["diff_arrival"] = dat["diff_arrival"].fillna("")

In [0]:
dat["winner"] = dat.apply(lambda x: x["rank"] == 1, axis = 1)
dat["return"] = 0
dat.loc[dat["winner"] == True,"return"] = dat.query("winner == True")["odds"]

In [0]:
# タイム値を秒数(float)に変換する。小数以下１桁まであり
dat["time_float"] = date_like_value_to_timestamp(dat,"time")

In [0]:
# factor化
dat["name"] ,name = pd.factorize(dat["name"])
dat["sex"] ,sex = pd.factorize(dat["sex"])
dat["jockey"] ,jockey = pd.factorize(dat["jockey"])
dat["diff_arrival"] ,diff_arrival = pd.factorize(dat["diff_arrival"])
dat["trainer"] ,trainer = pd.factorize(dat["trainer"])
dat["ground"] ,ground = pd.factorize(dat["ground"])
dat["direction"] ,direction = pd.factorize(dat["direction"])
dat["weather"] ,weather = pd.factorize(dat["weather"])
dat["condition"] ,condition = pd.factorize(dat["condition"])
dat["race_index"] ,full_path = pd.factorize(dat["full_path"])

In [0]:
dat["ymd"] = dat["year"]*10000 + dat["month"]*100 + dat["day"]

In [0]:
# ダウンサンプリング

In [0]:
winners = dat.query("winner == True").dropna()
losers = dat.query("winner != True").dropna()

In [0]:
datlen = min(len(winners), len(losers))

In [0]:
train_test_per = 0.5
train_len = int(datlen * train_test_per)
test_len = datlen-train_len
train = pd.concat([winners.head(train_len),losers.head(train_len)])
test = pd.concat([winners.tail(test_len),losers.tail(test_len)])

In [0]:
# ダウンサンプリング終わり

In [0]:
#ランダムフォレストによる予想

In [0]:
# tmp = df.sample(10)

In [0]:
rf.fit(train[["odds"]],train[["winner"]])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
# 正答率
rf.score(test[["odds"]],test[["winner"]])

0.751086323522824

In [0]:
#ランダムフォレストによる予想終わり

In [0]:
# 穴馬バイアスの分析

In [0]:
dat.groupby("popularity").mean()

,rank,frame_num,horse_num,name,sex,age,amount,jockey,diff_arrival,odds,weight,diff_weight,trainer,race_num,grade,ground,direction,distance,weather,condition,year,month,day,winner,return,time_float,race_index,ymd
popularity,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1.0,3.546636,4.748134,7.628082,21494.565234,0.713672,3.446853,55.397797,68.524826,5.342643,2.656769,478.468620,0.233138,122.084766,6.495508,8.761393,0.555859,0.422352,1633.027938,0.493815,0.612587,2012.719401,6.428689,15.666536,0.319944,0.767734,102.243610,23039.328581,2.012785e+07
2.0,4.423429,4.720800,7.587634,21628.532380,0.702483,3.483550,55.323549,69.216546,6.387104,4.513994,476.390121,0.374018,123.039585,6.495616,8.761383,0.555840,0.422371,1633.011481,0.493706,0.612527,2012.719562,6.428708,15.666305,0.189092,0.795768,102.464181,23038.671405,2.012785e+07
3.0,5.098402,4.738498,7.617535,21863.276671,0.691450,3.518403,55.268500,70.512391,6.881033,6.545738,475.347439,0.355490,124.051128,6.495443,8.761393,0.555838,0.422352,1633.005516,0.493750,0.612543,2012.719553,6.428624,15.666189,0.133507,0.812140,102.621101,23038.581576,2.012785e+07
4.0,5.745364,4.767062,7.671057,22348.196589,0.688331,3.550617,55.227350,71.463423,7.176168,9.306352,473.991623,0.362102,125.181311,6.495584,8.761398,0.555847,0.422365,1633.033925,0.493783,0.612617,2012.719451,6.428767,15.666999,0.095549,0.806918,102.718699,23039.480241,2.012785e+07
5.0,6.280164,4.750705,7.638309,22576.165502,0.680911,3.583814,55.194985,72.221928,7.356721,12.977742,472.917922,0.368397,125.874430,6.495616,8.761383,0.555862,0.422436,1633.034645,0.493771,0.612548,2012.719628,6.428773,15.666522,0.071639,0.816387,102.846322,23038.520791,2.012785e+07
6.0,6.782615,4.758681,7.658154,22975.469803,0.669229,3.618520,55.160977,73.775186,7.552414,18.018436,471.943493,0.375182,127.745456,6.495863,8.761222,0.555628,0.422416,1632.859130,0.493713,0.612678,2012.717832,6.428562,15.665385,0.055270,0.842100,102.963504,23039.080396,2.012784e+07
7.0,7.369338,4.760416,7.658791,23441.146292,0.665731,3.643496,55.129898,75.575267,7.702043,25.311960,471.096863,0.343349,127.886909,6.497074,8.760786,0.554925,0.422710,1632.810322,0.493636,0.612688,2012.716098,6.426408,15.663925,0.040446,0.817906,103.097199,23037.512499,2.012782e+07
8.0,7.886322,4.767738,7.682945,23978.124737,0.656622,3.674120,55.083381,77.055733,7.887110,35.462557,470.233269,0.341451,128.944683,6.496649,8.759614,0.552799,0.423353,1631.687824,0.493671,0.613656,2012.710341,6.421163,15.669521,0.028951,0.778443,103.162262,23037.585385,2.012776e+07
9.0,8.443014,4.775972,7.748373,24474.852818,0.646848,3.715445,55.036729,78.763911,7.919832,49.247615,469.607143,0.289504,129.351525,6.493490,8.757245,0.547887,0.424425,1628.118750,0.494538,0.616841,2012.691635,6.408552,15.675361,0.022048,0.744407,103.035715,23045.407504,2.012757e+07
10.0,8.957340,4.769426,7.825279,25110.712812,0.640728,3.743525,54.995418,80.618257,8.056567,66.947644,468.726741,0.218211,130.651318,6.482054,8.753125,0.540716,0.426246,1622.819408,0.494578,0.619639,2012.672752,6.389110,15.682698,0.015932,0.721556,102.781852,23052.042109,2.012738e+07
11.0,9.565276,4.746915,7.941250,25682.449303,0.627581,3.755656,54.935358,83.506121,8.126506,89.121380,467.503827,0.235844,131.861106,6.457199,8.748895,0.532079,0.428271,1614.391973,0.493323,0.621761,2012.648009,6.365248,15.689977,0.013039,0.736619,102.388463,23065.216526,2.012713e+07
12.0,10.172112,4.738506,8.100608,26394.324193,0.620039,3.791619,54.905770,84.984125,8.189182,115.659035,466.941398,0.219204,133.001752,6.428178,8.741831,0.522317,0.431090,1604.568322,0.491779,0.624343,2012.634831,6.327982,15.687146,0.008942,0.654051,101.878561,23078.062236,2.012700e+07
13.0,10.771631,4.688996,8.249178,26940.038599,0.613415,3.813443,54.852028,87.765598,8.309926,145.463279,466.204935,0.156551,134.098837,6.421894,8.734827,0.517584,0.438457,1599.017865,0.489563,0.629694,2012.648610,6.279836,15.704169,0.007005,0.646540,101.547334,23048.631197,2.012713e+07
14.0,11.422920,4.679808,8.481165,27651.216107,0.596883,3.831889,54.807317,90.415450,8.330614,182.069303,465.256358,0.183696,136.080470,6.392281,8.725062,0.516158,0.445790,1582.954351,0.487412,0.627478,2012.667092,6.214513,15.726114,0.004143,0.479301,100.400921,23048.814329,2.012731e+07
15.0,12.048330,4.681899,8.736515,28442.596981,0.578801,3.844695,54.616630,92.684533,8.357775,229.098423,463.235292,0.068393,136.515941,6.425829,8.707080,0.465803,0.377837,1563.316965,0.487823,0.512177,2012.690180,6.153875,15.784055,0.003425,0.493014,96.911204,23013.286446,2.012753e+07
16.0,12.798423,4.795332,9.168983,29078.578124,0.563889,3.884569,54.549896,95.699317,8.460369,288.718147,461.004890,0.146032,138.423231,6.440614,8.673123,0.511403,0.368179,1555.855993,0.488307,0.492132,2012.733646,6.080908,15.762988,0.002130,0.409776,96.136030,22934.391565,2.012796e+07
17.0,13.667504,5.031257,9.893103,28620.139404,0.502396,3.677850,54.339342,92.060013,8.220671,271.516066,455.784122,-0.016879,136.196916,6.941655,8.312565,1.000000,0.569077,1602.791000,0.487810,0.296312,2012.388414,7.080850,16.207335,0.001875,0.333007,95.719183,22700.418629,2.012461e+07
18.0,14.444502,5.150543,10.189860,29533.203828,0.488877,3.697103,54.347387,98.559234,8.539058,340.190973,454.819452,0.187015,137.469995,6.890585,8.328505,1.000000,0.576824,1588.837962,0.499483,0.295396,2012.394465,7.021469,16.293326,0.000517,0.153958,94.878742,22660.447232,2.012466e+07

In [0]:
# 穴馬バイアスの分析終わり

In [0]:
# 若い馬バイアスの分析

In [0]:
dat.groupby("age").mean()

,rank,frame_num,horse_num,name,sex,amount,jockey,diff_arrival,odds,popularity,weight,diff_weight,trainer,race_num,grade,ground,direction,distance,weather,condition,year,month,day,winner,return,time_float,race_index,ymd
age,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,7.541111,4.803378,7.586531,28980.151631,0.576899,54.066597,74.377964,7.522801,71.515403,7.562991,460.128979,0.146684,129.596950,3.736879,8.853287,0.664256,0.328960,1506.753254,0.471425,0.404138,2012.469617,9.937660,15.796410,0.074100,0.715201,92.920650,23130.682266,2.012571e+07
3,7.999230,4.714275,8.102208,28273.569877,0.582768,54.525673,77.942368,7.546175,74.498428,7.905850,465.190557,0.058156,129.566403,5.029437,8.821597,0.454930,0.345079,1615.001385,0.503555,0.570832,2012.742551,5.518723,15.644050,0.070551,0.714622,100.660465,22975.942255,2.012799e+07
4,7.493905,4.758959,7.827084,19988.472934,0.670375,55.823852,77.996999,7.378967,48.987912,7.212384,475.701697,0.766924,127.437441,8.649688,8.803584,0.536075,0.483050,1638.601489,0.491645,0.661706,2012.658641,6.193139,15.710072,0.083136,0.739721,103.800688,23075.001781,2.012722e+07
5,7.682216,4.761873,7.824991,18117.281856,0.727869,55.974782,79.455903,7.446393,53.904362,7.883329,480.379550,0.498471,127.971683,9.093619,8.638250,0.582494,0.509843,1659.317530,0.486880,0.678773,2012.758644,5.915131,15.738317,0.066098,0.789057,105.449968,23109.445075,2.012819e+07
6,8.220112,4.779675,7.822171,16650.676925,0.862881,56.129014,82.099673,7.647889,65.574824,8.916953,484.893090,0.270324,128.029247,9.404778,8.419789,0.663394,0.600977,1694.224120,0.487679,0.768259,2012.815382,5.612417,15.693392,0.045244,0.699081,109.651074,22972.634946,2.012873e+07
7,8.701778,4.769218,7.740156,15782.949288,0.997475,56.375289,86.382863,7.754983,85.345558,9.844028,487.662810,0.212883,130.197099,9.416170,8.202740,0.775450,0.736234,1751.101011,0.493151,0.919581,2012.733871,5.499705,15.536503,0.034972,0.614161,116.266301,23116.642117,2.012790e+07
8,9.106058,4.796584,7.768580,15583.765349,1.061702,56.513771,89.741191,7.857055,103.600293,10.506255,489.034079,0.127988,135.246346,9.348823,7.945222,0.876135,0.862133,1843.482270,0.492999,1.038006,2012.808432,5.161717,15.652870,0.032928,0.647900,123.694651,22753.461456,2.012862e+07
9,9.505699,4.774024,7.730344,14521.887012,1.111241,56.743448,94.891672,7.914968,128.268014,11.055653,489.842290,0.103388,133.195108,9.218987,7.837507,0.951660,1.005242,1899.951657,0.463599,1.157833,2012.902155,4.874199,15.503203,0.026791,0.335236,130.320144,23152.909726,2.012952e+07
10,9.852130,4.908867,7.995074,14391.192118,1.157635,56.683498,90.736453,8.155172,135.961481,11.493827,489.142857,0.041872,134.477833,9.460591,7.251232,1.022167,1.009852,2010.233918,0.534483,0.940887,2012.645320,4.921182,15.645320,0.019704,0.420197,136.055388,23190.650246,2.012696e+07
11,9.954545,4.233333,6.955556,12169.777778,1.266667,56.844444,127.966667,8.633333,134.594444,10.500000,484.533333,0.577778,148.166667,9.044444,7.622222,1.166667,1.300000,2164.324324,0.577778,1.044444,2013.144444,5.055556,15.800000,0.022222,0.053333,147.875000,22051.355556,2.013197e+07
12,9.187500,3.764706,5.705882,28796.882353,1.470588,57.852941,174.941176,7.000000,148.288235,10.941176,477.647059,0.117647,201.588235,9.000000,7.058824,1.235294,1.588235,2677.142857,0.352941,1.117647,2012.058824,5.058824,12.941176,0.058824,0.129412,178.112500,27670.000000,2.012111e+07
13,10.333333,2.750000,4.500000,34183.500000,1.500000,60.000000,219.000000,10.250000,80.625000,8.750000,495.000000,-0.500000,202.500000,6.500000,9.000000,1.500000,2.250000,2950.000000,0.000000,4.000000,2010.000000,6.250000,19.750000,0.000000,0.000000,203.700000,24780.750000,2.010064e+07

In [0]:
# 若い馬バイアスの分析終わり

In [0]:
# グレードバイアスの分析

In [0]:
dat.groupby("grade").mean()

,rank,frame_num,horse_num,name,sex,age,amount,jockey,diff_arrival,odds,popularity,weight,diff_weight,trainer,race_num,ground,direction,distance,weather,condition,year,month,day,winner,return,time_float,race_index,ymd
grade,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,8.956375,4.758093,9.058858,20160.938003,0.672356,4.188150,56.278007,73.039827,7.978026,64.821341,9.016963,477.233103,-0.162562,129.772023,10.882872,0.903865,0.432804,1959.642927,0.420443,0.305278,2012.781832,7.664901,16.966058,0.058858,0.690190,117.901886,23217.356877,2.012860e+07
2,7.943723,4.822937,8.001037,17684.110831,0.804564,4.544673,55.701067,64.910653,7.467032,64.214857,7.975758,480.294502,0.356315,124.550896,10.946362,0.968292,0.288487,1939.683023,0.490888,0.285079,2012.779671,6.248185,16.184027,0.069047,0.696651,120.281227,22056.101497,2.012844e+07
3,8.200850,4.703296,8.264336,17873.843852,0.722805,4.657109,55.032442,68.482338,7.410508,54.032977,8.226408,480.312384,0.183127,125.671372,10.930018,0.831510,0.355306,1685.649921,0.494901,0.333358,2012.743127,5.892625,14.477387,0.065844,0.768733,100.449504,23458.861440,2.012804e+07
9,7.825811,4.749357,7.884834,24519.359831,0.649601,3.626132,55.046440,78.665707,7.514761,67.191029,7.859131,470.141558,0.283350,129.074672,6.303108,0.533762,0.426869,1611.263891,0.493274,0.616049,2012.689284,6.383180,15.702267,0.069901,0.722670,101.700617,23037.583959,2.012755e+07

In [0]:
# グレードバイアスの分析終わり

In [0]:
# 穴馬　、若い馬、グレードの組み合わせバイアスの分析

In [0]:
tmp = dat.query("grade == 3 and age == 5 and popularity == 6")

In [0]:
tmp.describe()

,rank,frame_num,horse_num,name,sex,age,amount,jockey,diff_arrival,odds,popularity,weight,diff_weight,trainer,race_num,grade,ground,direction,distance,weather,condition,year,month,day,return,time_float,race_index,ymd
count,191.000000,191.000000,191.000000,191.000000,191.000000,191.0,191.000000,191.000000,191.000000,191.000000,191.0,191.000000,191.000000,191.000000,191.000000,191.0,191.000000,191.000000,186.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,1.910000e+02
mean,7.502618,4.696335,8.345550,15950.900524,0.712042,5.0,55.356021,62.178010,7.350785,13.493717,6.0,484.293194,0.183246,121.335079,10.921466,3.0,0.821990,0.397906,1735.483871,0.528796,0.350785,2012.706806,5.853403,15.183246,1.062827,102.657068,24039.628272,2.012767e+07
std,4.278310,2.303758,4.771182,12611.802424,0.508674,0.0,1.265515,52.078076,5.758973,4.518903,0.0,26.952549,6.458200,75.359229,0.409248,0.0,0.383527,0.541728,345.830817,0.731227,0.799662,3.744175,3.380980,8.769140,3.451366,23.739936,13529.873471,3.744187e+04
min,1.000000,1.000000,1.000000,0.000000,0.000000,5.0,52.000000,0.000000,0.000000,7.400000,6.0,428.000000,-18.000000,0.000000,9.000000,3.0,0.000000,0.000000,1200.000000,0.000000,0.000000,2006.000000,1.000000,1.000000,0.000000,54.200000,58.000000,2.006071e+07
25%,4.000000,3.000000,4.000000,5241.000000,0.000000,5.0,54.000000,20.500000,2.000000,10.950000,6.0,467.000000,-4.000000,55.000000,11.000000,3.0,1.000000,0.000000,1600.000000,0.000000,0.000000,2010.000000,3.000000,7.500000,0.000000,92.700000,13433.500000,2.010037e+07
50%,7.000000,5.000000,8.000000,12405.000000,1.000000,5.0,56.000000,55.000000,7.000000,12.300000,6.0,482.000000,0.000000,133.000000,11.000000,3.0,1.000000,0.000000,1800.000000,0.000000,0.000000,2012.000000,6.000000,15.000000,0.000000,107.100000,24584.000000,2.012110e+07
75%,11.000000,7.000000,12.500000,23376.000000,1.000000,5.0,56.000000,80.500000,14.000000,14.700000,6.0,503.000000,4.000000,176.500000,11.000000,3.0,1.000000,1.000000,2000.000000,1.000000,0.000000,2015.500000,8.000000,22.000000,0.000000,119.350000,35546.000000,2.015566e+07
max,18.000000,8.000000,17.000000,54712.000000,2.000000,5.0,58.000000,302.000000,22.000000,39.700000,6.0,560.000000,21.000000,314.000000,12.000000,3.0,1.000000,2.000000,3400.000000,4.000000,4.000000,2020.000000,12.000000,31.000000,16.100000,217.500000,46064.000000,2.020052e+07

In [0]:
dat.sample(10000).mean()

rank            7.772149e+00
frame_num       4.741900e+00
horse_num       7.875400e+00
name            2.428479e+04
sex             6.570000e-01
age             3.649900e+00
amount          5.506930e+01
jockey          7.825830e+01
diff_arrival    7.443900e+00
odds            6.521883e+01
popularity      7.773873e+00
weight          4.707439e+02
diff_weight     2.446361e-01
trainer         1.283740e+02
race_num        6.476200e+00
grade           8.761100e+00
ground          5.486000e-01
direction       4.232000e-01
distance        1.616006e+03
weather         4.823000e-01
condition       6.011000e-01
year            2.012615e+03
month           6.382300e+00
day             1.561370e+01
winner          7.090000e-02
return          6.591300e-01
time_float      1.018074e+02
race_index      2.289744e+04
ymd             2.012681e+07
dtype: float64

In [0]:
#dat.mean()

In [0]:
# 穴馬　、若い馬、グレードの組み合わせバイアスの分析　終わり

In [0]:
# おいしさ指数の作成 ランダムフォレスト線形回帰を使う

In [0]:
## 前回成績を列に加える

In [0]:
g_count = 0

In [0]:
def set_prev_race(dat,onedata):
    global g_count
    g_count = g_count + 1
    if (g_count % 10000) == 0:
        print(g_count)
    tmp = onedata.copy()
#     print(tmp["name"])
    prev_df = dat[(dat["name"] == tmp["name"]) & (dat["ymd"]  < tmp["ymd"])].sort_values("ymd",ascending=False).head(1)
    if len(prev_df) > 0:
        prev = prev_df.iloc[0]
        for c in tmp.index:
            tmp["prev_"+c] = prev[c]
#     print(tmp)
    return tmp

In [0]:
res = dat.apply(lambda x: set_prev_race(dat, x), axis = 1)

KeyboardInterrupt: ignored

In [0]:
#res.to_csv("keiba/keiba_dat_res_20190611.csv")

In [0]:
#res.to_pickle("keiba/keiba_dat_res_20190611.pkl")

In [0]:
res = res.sort_values("race_index").reset_index()

In [0]:
res = res.drop(columns=["index"])

In [0]:
res

In [0]:
res.to_pickle("./data/keiba/keiba_dat_res_20200529_2306.pkl")

In [0]:
# res = pd.read_pickle("./data/keiba/keiba_dat_res_20200529_2306.pkl")

In [0]:
pd.show_versions()

In [0]:
#res = pd.read_pickle("/Users/tokyomac/Documents/tmp/keiba_data_2017/keiba_dat_res_20190611.pkl")

In [0]:
res

In [0]:
def sort_columns(df):
    cols = df.columns.values.copy()
    d = []
    for c in df.columns.values.copy():
        d += ["prev_" + c]
#         print(["prev_" + c])
    return np.concatenate([cols,d])

In [0]:
sort_columns(dat)

In [0]:
### 列のソート順を修正する

In [0]:
sortc = sort_columns(dat)

In [0]:
sdat = res.ix[:,sortc]

In [0]:
sdat.to_pickle("/Users/tokyomac/Documents/tmp/keiba_data/2020/keiba_dat_res_202005278_sorted.pkl")

In [0]:
sdat = pd.read_pickle("/Users/tokyomac/Documents/tmp/keiba_data/2020/keiba_dat_res_202005278_sorted.pkl")

In [0]:
### 列のソート順を修正する 終わり

In [0]:
## 前回成績を列に加える 終わり

In [0]:
## おいしさ係数を計算してみる

In [0]:
# sdat["winner"] = sdat.apply(lambda x: x["rank"] == 1, axis = 1)
# sdat["return"] = 0
# sdat.loc[sdat["winner"] == True,"return"] = sdat.query("winner == True")["odds"]

In [0]:
## ランダムフォレスト回帰で利用できるように時間をfloatに変換する

In [0]:
sdat["prev_time_float"] = date_like_value_to_timestamp(sdat,"prev_time")

In [0]:
sdat["start_time_float"] = date_like_value_to_timestamp(sdat,"start_time")

In [0]:
sdat["prev_start_time_float"] = date_like_value_to_timestamp(sdat,"prev_start_time")

In [0]:
## ランダムフォレスト回帰で利用できるように時間をfloatに変換する　終わり

In [0]:
sdat.columns

In [0]:
x = sdat[['frame_num', 'horse_num', 'name', 'sex', 'age', 'amount',
       'jockey', 'odds', 'popularity', 'weight',
       'diff_weight', 'trainer', 'race_num', 'grade', 'ground', 'direction',
        'distance', 'weather', 'condition', 'start_time_float', 'year',
       'month', 'day', 'prev_rank', 'prev_frame_num', 'prev_horse_num',
       'prev_name', 'prev_sex', 'prev_age', 'prev_amount', 'prev_jockey',
       'prev_time_float', 'prev_diff_arrival', 'prev_odds', 'prev_popularity',
       'prev_weight', 'prev_diff_weight', 'prev_trainer', 'prev_race_num',
       'prev_grade', 'prev_ground', 'prev_direction',
       'prev_distance', 'prev_weather', 'prev_condition', 'prev_start_time_float',
       'prev_year', 'prev_month', 'prev_day']].dropna(0)

In [0]:
y = sdat[["return"]].dropna(0)

In [0]:
trainlen = int(len(x)/2)

In [0]:
trainx = x.head(trainlen)
trainy = y.head(trainlen)

In [0]:
testx = x.tail(len(x)-trainlen)
testy = y.tail(len(x)-trainlen)

In [0]:
rfr = RandomForestRegressor(100)  # インスタンスの生成　木の数を100個に指定
rfr.fit(trainx,trainy)            # 学習実行
yfit = rfr.predict(testx) # 予測実行

In [0]:
ydf = pd.DataFrame({"return":yfit})

In [0]:
testy.reset_index().loc[ydf[ydf["return"] > 26].index].mean()

In [0]:
# おいしさ指数の作成 ランダムフォレスト線形回帰を使う　終わり

In [0]:
dat.query("diff_arrival == 'ハナ'")

In [0]:
dat.query("rank == '取'")["rank"]

In [0]:
dat.query("name == 'エスエスウィナー'")

In [0]:
from sklearn.ensemble import RandomForestRegressor

x = 10 * np.random.rand(100)

def sin_model(x, sigma=0.2):
    """大きな波＋小さな波＋ノイズからなるダミーデータ。"""
    noise = sigma * np.random.randn(len(x))

    return np.sin(5 * x) + np.sin(0.5 * x) + noise

# xからyを計算
y = sin_model(x)

# Plotしてみる。
plt.figure(figsize=(16,8))
plt.errorbar(x, y, 0.1, fmt='o')

In [0]:
from sklearn.ensemble import RandomForestRegressor # ランダムフォレスト回帰用

# 確認用に0〜10の1000個のデータを用意
xfit = np.linspace(0, 10, 1000)       #0〜10まで1000個

# ランダムフォレスト実行
rfr = RandomForestRegressor(100)  # インスタンスの生成　木の数を100個に指定
rfr.fit(x[:, None], y)            # 学習実行
yfit = rfr.predict(xfit[:, None]) # 予測実行

# 結果比較用に実際の値を取得。
ytrue = sin_model(xfit,0) # xfitを波発生関数に食わせて、その結果を取得

# 結果確認
plt.figure(figsize = (16,8))
plt.errorbar(x, y, 0.1, fmt='o')
plt.plot(xfit, yfit, '-r')                # 予測値のplot
plt.plot(xfit, ytrue, '-k', alpha = 0.5)  # 正解値のplot

In [0]:
dat

In [0]:
# ダービー用にデータを追加する処理 start

In [0]:
old = pd.read_pickle("./data/keiba/keiba_dat_res_20200529_2306.pkl")

In [0]:
darby_df = dat.query("full_path == 'darby.csv'").copy().fillna(0)

In [0]:
darby_df.index += (old.index.max() + 1)

In [0]:
darby_df

,rank,frame_num,horse_num,name,sex,age,amount,jockey,time,diff_arrival,odds,popularity,weight,diff_weight,trainer,full_path,race_num,grade,ground,direction,unknown,distance,weather,condition,start_time,year,month,day,winner,return,time_float,race_index,ymd
661572,0.0,1,1,48874,1,3,57.0,28,0.0,115,38.9,7.0,0.0,0.0,15,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661573,0.0,1,2,22981,1,3,57.0,13,0.0,115,61.2,12.0,0.0,0.0,10,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661574,0.0,2,3,43323,1,3,57.0,5,0.0,115,12.4,3.0,0.0,0.0,239,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661575,0.0,2,4,40326,1,3,57.0,58,0.0,115,98.5,15.0,0.0,0.0,271,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661576,0.0,3,5,40318,1,3,57.0,3,0.0,115,1.5,1.0,0.0,0.0,15,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661577,0.0,3,6,40323,1,3,57.0,17,0.0,115,54.7,9.0,0.0,0.0,10,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661578,0.0,4,7,40324,1,3,57.0,139,0.0,115,133.8,18.0,0.0,0.0,200,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661579,0.0,4,8,40329,1,3,57.0,39,0.0,115,56.6,11.0,0.0,0.0,200,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661580,0.0,5,9,40322,1,3,57.0,292,0.0,115,30.0,6.0,0.0,0.0,257,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661581,0.0,5,10,15503,1,3,57.0,66,0.0,115,91.9,14.0,0.0,0.0,12,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661582,0.0,6,11,40320,1,3,57.0,53,0.0,115,55.4,10.0,0.0,0.0,219,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661583,0.0,6,12,40319,1,3,57.0,199,0.0,115,5.0,2.0,0.0,0.0,240,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661584,0.0,7,13,40325,1,3,57.0,12,0.0,115,28.6,5.0,0.0,0.0,80,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661585,0.0,7,14,40328,1,3,57.0,71,0.0,115,73.8,13.0,0.0,0.0,138,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661586,0.0,7,15,28070,1,3,57.0,51,0.0,115,14.2,4.0,0.0,0.0,180,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661587,0.0,8,16,55059,1,3,57.0,10,0.0,115,132.2,17.0,0.0,0.0,124,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661588,0.0,8,17,19915,1,3,57.0,67,0.0,115,47.7,8.0,0.0,0.0,138,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531
661589,0.0,8,18,40321,1,3,57.0,32,0.0,115,107.6,16.0,0.0,0.0,75,darby.csv,11,1,1,1,0.0,2400.0,6,15,15:40,2020,5,31,False,0.0,0.0,46078,20200531

In [0]:
res_darby = darby_df.apply(lambda x: set_prev_race(old, x), axis = 1)

In [0]:
darby_and_old  = pd.concat([old,res_darby])

In [0]:
darby_and_old.tail(20)

,age,amount,condition,day,diff_arrival,diff_weight,direction,distance,frame_num,full_path,grade,ground,horse_num,jockey,month,name,odds,popularity,prev_age,prev_amount,prev_condition,prev_day,prev_diff_arrival,prev_diff_weight,prev_direction,prev_distance,prev_frame_num,prev_full_path,prev_grade,prev_ground,prev_horse_num,prev_jockey,prev_month,prev_name,prev_odds,prev_popularity,prev_race_index,prev_race_num,prev_rank,prev_return,prev_sex,prev_start_time,prev_time,prev_time_float,prev_trainer,prev_unknown,prev_weather,prev_weight,prev_winner,prev_year,prev_ymd,race_index,race_num,rank,return,sex,start_time,time,time_float,trainer,unknown,weather,weight,winner,year,ymd
661570,2,54.0,0,7,7,8.0,0,1800.0,6,html/201102020801.html,9,1,7,71,8,17868,3.4,2.0,2.0,54.0,0.0,23.0,7.0,0.0,0.0,1200.0,8.0,html/201102020305.html,9.0,1.0,10.0,71.0,7.0,17868.0,2.2,1.0,29959.0,5.0,5.0,0.0,1.0,11:50,1:11.4,71.4,82.0,-,0.0,474.0,False,2011.0,20110723.0,46077,1,5.0,0.0,1,09:55,1:52.8,112.8,82,-,0,482.0,False,2011,20110807
661571,2,54.0,0,7,1,4.0,0,1800.0,7,html/201102020801.html,9,1,9,22,8,51306,252.3,12.0,2.0,54.0,0.0,23.0,2.0,0.0,0.0,1200.0,7.0,html/201102020305.html,9.0,1.0,8.0,22.0,7.0,51306.0,63.3,8.0,29959.0,5.0,10.0,0.0,0.0,11:50,1:12.9,72.9,190.0,-,0.0,452.0,False,2011.0,20110723.0,46077,1,12.0,0.0,0,09:55,1:56.0,116.0,190,-,0,456.0,False,2011,20110807
661572,3,57.0,15,31,115,0.0,1,2400.0,1,darby.csv,1,1,1,28,5,48874,38.9,7.0,3.0,57.0,0.0,10.0,5.0,-6.0,1.0,1600.0,8.0,html/202005020611.html,1.0,1.0,17.0,51.0,5.0,48874.0,5.1,3.0,45375.0,11.0,13.0,0.0,1.0,15:40,1:33.7,93.7,15.0,-,0.0,482.0,False,2020.0,20200510.0,46078,11,0.0,0.0,1,15:40,0,0.0,15,0,6,0.0,False,2020,20200531
661573,3,57.0,15,31,115,0.0,1,2400.0,1,darby.csv,1,1,2,13,5,22981,61.2,12.0,3.0,56.0,1.0,28.0,15.0,-6.0,0.0,1800.0,2.0,html/202009020111.html,3.0,1.0,2.0,270.0,3.0,22981.0,2.1,1.0,25655.0,11.0,2.0,0.0,1.0,15:35,1:48.0,108.0,10.0,外,1.0,456.0,False,2020.0,20200328.0,46078,11,0.0,0.0,1,15:40,0,0.0,10,0,6,0.0,False,2020,20200531
661574,3,57.0,15,31,115,0.0,1,2400.0,2,darby.csv,1,1,3,5,5,43323,12.4,3.0,3.0,56.0,2.0,8.0,1.0,2.0,0.0,2000.0,7.0,html/202006020411.html,2.0,1.0,8.0,5.0,3.0,43323.0,2.5,1.0,6820.0,11.0,2.0,0.0,1.0,15:45,2:03.2,123.2,239.0,-,1.0,494.0,False,2020.0,20200308.0,46078,11,0.0,0.0,1,15:40,0,0.0,239,0,6,0.0,False,2020,20200531
661575,3,57.0,15,31,115,0.0,1,2400.0,2,darby.csv,1,1,4,58,5,40326,98.5,15.0,3.0,57.0,1.0,19.0,16.0,-4.0,0.0,2000.0,1.0,html/202006030811.html,1.0,1.0,2.0,10.0,4.0,40326.0,62.9,9.0,5872.0,11.0,11.0,0.0,1.0,15:40,2:02.1,122.1,271.0,-,0.0,482.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,271,0,6,0.0,False,2020,20200531
661576,3,57.0,15,31,115,0.0,1,2400.0,3,darby.csv,1,1,5,3,5,40318,1.5,1.0,3.0,57.0,1.0,19.0,0.0,0.0,0.0,2000.0,1.0,html/202006030811.html,1.0,1.0,1.0,3.0,4.0,40318.0,2.7,1.0,5872.0,11.0,1.0,2.7,1.0,15:40,2:00.7,120.7,15.0,-,0.0,462.0,True,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,15,0,6,0.0,False,2020,20200531
661577,3,57.0,15,31,115,0.0,1,2400.0,3,darby.csv,1,1,6,17,5,40323,54.7,9.0,3.0,57.0,1.0,19.0,11.0,-4.0,0.0,2000.0,8.0,html/202006030811.html,1.0,1.0,17.0,17.0,4.0,40323.0,13.0,4.0,5872.0,11.0,8.0,0.0,1.0,15:40,2:01.9,121.9,10.0,-,0.0,486.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,10,0,6,0.0,False,2020,20200531
661578,3,57.0,15,31,115,0.0,1,2400.0,4,darby.csv,1,1,7,139,5,40324,133.8,18.0,3.0,57.0,1.0,19.0,5.0,2.0,0.0,2000.0,5.0,html/202006030811.html,1.0,1.0,9.0,139.0,4.0,40324.0,99.5,12.0,5872.0,11.0,9.0,0.0,1.0,15:40,2:02.1,122.1,200.0,-,0.0,432.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,200,0,6,0.0,False,2020,20200531
661579,3,57.0,15,31,115,0.0,1,2400.0,4,darby.csv,1,1,8,39,5,40329,56.6,11.0,3.0,56.0,0.0,9.0,0.0,0.0,1.0,2000.0,1.0,html/202005020511.html,9.0,1.0,1.0,39.0,5.0,40329.0,3.9,2.0,14697.0,11.0,1.0,3.9,1.0,15:45,1:59.8,119.8,200.0,-,1.0,464.0,True,2020.0,20200509.0,46078,11,0.0,0.0,1,15:40,0,0.0,200,0,6,0.0,False,2020,20200531
661580,3,57.0,15,31,115,0.0,1,2400.0,5,darby.csv,1,1,9,292,5,40322,30.0,6.0,3.0,57.0,1.0,19.0,2.0,-10.0,0.0,2000.0,7.0,html/202006030811.html,1.0,1.0,13.0,138.0,4.0,40322.0,18.5,6.0,5872.0,11.0,6.0,0.0,1.0,15:40,2:01.8,121.8,257.0,-,0.0,516.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,257,0,6,0.0,False,2020,20200531
661581,3,57.0,15,31,115,0.0,1,2400.0,5,darby.csv,1,1,10,66,5,15503,91.9,14.0,3.0,57.0,1.0,19.0,7.0,6.0,0.0,2000.0,2.0,html/202006030811.html,1.0,1.0,3.0,66.0,4.0,15503.0,100.9,13.0,5872.0,11.0,7.0,0.0,1.0,15:40,2:01.9,121.9,12.0,-,0.0,460.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,12,0,6,0.0,False,2020,20200531
661582,3,57.0,15,31,115,0.0,1,2400.0,6,darby.csv,1,1,11,53,5,40320,55.4,10.0,3.0,57.0,1.0,19.0,6.0,2.0,0.0,2000.0,8.0,html/202006030811.html,1.0,1.0,16.0,270.0,4.0,40320.0,41.2,8.0,5872.0,11.0,3.0,0.0,1.0,15:40,2:01.4,121.4,219.0,-,0.0,498.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,219,0,6,0.0,False,2020,20200531
661583,3,57.0,15,31,115,0.0,1,2400.0,6,darby.csv,1,1,12,199,5,40319,5.0,2.0,3.0,57.0,1.0,19.0,7.0,-2.0,0.0,2000.0,4.0,html/202006030811.html,1.0,1.0,7.0,199.0,4.0,40319.0,3.8,3.0,5872.0,11.0,2.0,0.0,1.0,15:40,2:00.8,120.8,240.0,-,0.0,536.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,240,0,6,0.0,False,2020,20200531
661584,3,57.0,15,31,115,0.0,1,2400.0,7,darby.csv,1,1,13,12,5,40325,28.6,5.0,3.0,56.0,0.0,9.0,0.0,-2.0,0.0,2200.0,5.0,html/202008030511.html,2.0,1.0,6.0,12.0,5.0,40325.0,10.7,4.0,12852.0,11.0,1.0,10.7,1.0,15:35,2:11.7,131.7,80.0,外,1.0,482.0,True,2020.0,20200509.0,46078,11,0.0,0.0,1,15:40,0,0.0,80,0,6,0.0,False,2020,20200531
661585,3,57.0,15,31,115,0.0,1,2400.0,7,darby.csv,1,1,14,71,5,40328,73.8,13.0,3.0,57.0,1.0,19.0,16.0,-4.0,0.0,2000.0,6.0,html/202006030811.html,1.0,1.0,12.0,51.0,4.0,40328.0,22.6,7.0,5872.0,11.0,13.0,0.0,1.0,15:40,2:02.2,122.2,138.0,-,0.0,504.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,138,0,6,0.0,False,2020,20200531
661586,3,57.0,15,31,115,0.0,1,2400.0,7,darby.csv,1,1,15,51,5,28070,14.2,4.0,3.0,57.0,1.0,19.0,5.0,-4.0,0.0,2000.0,3.0,html/202006030811.html,1.0,1.0,5.0,5.0,4.0,28070.0,3.6,2.0,5872.0,11.0,5.0,0.0,1.0,15:40,2:01.8,121.8,180.0,-,0.0,488.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,180,0,6,0.0,False,2020,20200531
661587,3,57.0,15,31,115,0.0,1,2400.0,8,darby.csv,1,1,16,10,5,55059,132.2,17.0,3.0,56.0,0.0,9.0,2.0,2.0,0.0,2200.0,7.0,html/202008030511.html,2.0,1.0,11.0,10.0,5.0,55059.0,8.6,3.0,12852.0,11.0,2.0,0.0,1.0,15:35,2:11.7,131.7,124.0,外,1.0,490.0,False,2020.0,20200509.0,46078,11,0.0,0.0,1,15:40,0,0.0,124,0,6,0.0,False,2020,20200531
661588,3,57.0,15,31,115,0.0,1,2400.0,8,darby.csv,1,1,17,67,5,19915,47.7,8.0,3.0,56.0,0.0,2.0,2.0,2.0,1.0,2400.0,4.0,html/202005020311.html,2.0,1.0,7.0,67.0,5.0,19915.0,12.4,4.0,1893.0,11.0,2.0,0.0,1.0,15:45,2:23.0,143.0,138.0,-,0.0,498.0,False,2020.0,20200502.0,46078,11,0.0,0.0,1,15:40,0,0.0,138,0,6,0.0,False,2020,20200531
661589,3,57.0,15,31,115,0.0,1,2400.0,8,darby.csv,1,1,18,32,5,40321,107.6,16.0,3.0,57.0,1.0,19.0,5.0,-2.0,0.0,2000.0,4.0,html/202006030811.html,1.0,1.0,8.0,32.0,4.0,40321.0,360.0,17.0,5872.0,11.0,4.0,0.0,1.0,15:40,2:01.6,121.6,75.0,-,0.0,484.0,False,2020.0,20200419.0,46078,11,0.0,0.0,1,15:40,0,0.0,75,0,6,0.0,False,2020,20200531

In [0]:
darby_and_old.to_pickle("./data/keiba/keiba_dat_res_20200531_1207.pkl")

In [0]:
odat.query("name == 'サトノインプレッサ'")

,rank,frame_num,horse_num,name,sex,age,amount,jockey,time,diff_arrival,odds,popularity,weight,diff_weight,trainer,full_path,race_num,grade,ground,direction,unknown,distance,weather,condition,start_time,year,month,day
130697,1,5,5,サトノインプレッサ,牡,3,56.0,川島信二,1:38.9,NaN,3.1,2.0,488,+4,[西]矢作芳人,html/202008020609.html,9,9,芝,右,-,1600,雨,重,14:25,2020,2,16
368261,1,7,8,サトノインプレッサ,牡,3,56.0,武豊,1:47.9,NaN,2.9,2.0,488,0,[西]矢作芳人,html/202009020111.html,11,3,芝,右,外,1800,曇,稍重,15:35,2020,3,28
634992,1,2,2,サトノインプレッサ,牡,2,55.0,川島信二,1:36.8,NaN,8.1,3.0,484,0,[西]矢作芳人,html/201908040805.html,5,9,芝,右,-,1600,曇,重,12:25,2019,10,26
651509,13,8,17,サトノインプレッサ,牡,3,57.0,武豊,1:33.7,1.1/4,5.1,3.0,482,-6,[西]矢作芳人,html/202005020611.html,11,1,芝,左,-,1600,晴,良,15:40,2020,5,10

In [0]:
old.query("ymd == 20200216 and horse_num == 5 and full_path == 'html/202008020609.html'")

,age,amount,condition,day,diff_arrival,diff_weight,direction,distance,frame_num,full_path,grade,ground,horse_num,jockey,month,name,odds,popularity,prev_age,prev_amount,prev_condition,prev_day,prev_diff_arrival,prev_diff_weight,prev_direction,prev_distance,prev_frame_num,prev_full_path,prev_grade,prev_ground,prev_horse_num,prev_jockey,prev_month,prev_name,prev_odds,prev_popularity,prev_race_index,prev_race_num,prev_rank,prev_return,prev_sex,prev_start_time,prev_time,prev_time_float,prev_trainer,prev_unknown,prev_weather,prev_weight,prev_winner,prev_year,prev_ymd,race_index,race_num,rank,return,sex,start_time,time,time_float,trainer,unknown,weather,weight,winner,year,ymd
130702,3,56.0,2,16,0,4.0,0,1600.0,5,html/202008020609.html,9,1,5,85,2,48874,3.1,2.0,2.0,55.0,2.0,26.0,0.0,0.0,0.0,1600.0,2.0,html/201908040805.html,9.0,1.0,2.0,85.0,10.0,48874.0,8.1,3.0,44224.0,5.0,1.0,8.1,1.0,12:25,1:36.8,96.8,15.0,-,1.0,484.0,True,2019.0,20191026.0,9101,9,1.0,3.1,1,14:25,1:38.9,98.9,15,-,2,488.0,True,2020,20200216

In [0]:
# ダービー用にデータを追加する処理 end

In [0]:
factor ,name = pd.factorize(dat["name"])

In [0]:
name[40319]

'サリオス'

In [0]:
name[40318]

'コントレイル'

In [0]:
name[43323]

'ワーケア'

In [33]:
odat.query("name == 'ディープインパクト'")

,rank,frame_num,horse_num,name,sex,age,amount,jockey,time,diff_arrival,odds,popularity,weight,diff_weight,trainer,full_path,race_num,grade,ground,direction,unknown,distance,weather,condition,start_time,year,month,day
192742,1,6,8,ディープインパクト,牡,4,58.0,武豊,2:13.0,NaN,1.1,1.0,442,+4,[西]池江泰郎,html/200608040411.html,11,1,芝,右,外,2200,雨,稍重,15:40,2006,6,25
261728,1,6,6,ディープインパクト,牡,4,57.0,武豊,2:25.1,NaN,1.3,1.0,436,0,[西]池江泰郎,html/200605050810.html,10,1,芝,左,-,2400,小雨,良,15:20,2006,11,26
285647,1,3,4,ディープインパクト,牡,4,57.0,武豊,2:31.9,NaN,1.2,1.0,438,+2,[西]池江泰郎,html/200606050809.html,9,1,芝,右,-,2500,晴,良,15:25,2006,12,24